/.vscode
/build
/dist
/lib
/setting/database*.ini
/setting/database*.xml
/*.html
/*.css
*.DS_Store
*~
*.csv
*.exe
*.html_files
*.jar
*.log
*.pdf
*.xls
*.sql
*.wps
*.jasper
!sik_bridging_lab.sql
!sik_bridging_radiologi.sql
!sik_eklaim_icd10.sql
!sik_modif.sql
!sik_satu_sehat_referensi.sql
!sik.sql